<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Edição de Artigo</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/articles/update">
                <input class="form-control" type="text" name="title" value="<%= article.title %>" placeholder="Defina o nome do artigo"><br>
                <textarea class="form-control" id="article" name="body"></textarea><br>
                <select class="form-control" name="category">
                    <% categories.forEach(category => { %>      
                        
                        <% if(category.id === article.categoryId){    %>
                            <option value="<%= category.id %>" selected><%= category.title %></option>      
                        <% }else{ %>
                            <option value="<%= category.id %>"><%= category.title %></option>  
                        <% } %>    
                    <% })%>
                </select>
                <br>
                <button name="id" value="<%= article.id %>" class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
</div>

<div id="content" style="display: none;">
    <%- article.body %>
</div>

<%- include ('../../partials/footer.ejs') %>

<script src="https://cdn.tiny.cloud/1/38dx52mb0ked0dyhlih99ncaqa61c4zf644apbdxn95cegqy/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>

    tinyMCE.init({
        language: 'pt_BR',
        selector: "#article",
        plugins: 'wordcount print save emoticons insertdatetime image',
        init_instance_callback: () => {     //Adicionando conteudo dinamicamente no textarea em edição
            tinyMCE.get("article").setContent($("#content").html())    
        }
    })

</script>