<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Cadastro de Artigo</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/admin/articles/save">
                <input class="form-control" type="text" name="title" placeholder="Defina o tipo do artigo"><br>
                <textarea class="form-control" placeholder="Escreva o artigo aqui!" name="body" id="article"></textarea><br>
                <label>Categoria</label>
                <select class="form-control" name="category">
                    <% category.forEach(category => { %>                  
                       <option value="<%= category.id %>"><%= category.title %></option>          
                    <% })%>
                </select>
                <br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
<%- include ('../../partials/footer.ejs') %>


<script src="https://cdn.tiny.cloud/1/38dx52mb0ked0dyhlih99ncaqa61c4zf644apbdxn95cegqy/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>

    tinyMCE.init({
        language: 'pt_BR',
        selector: "#article",
        plugins: 'wordcount print save emoticons insertdatetime image'
    })

</script>